body{
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.menu-princial{
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #EDF6F9;
}
.menu-contenedor-botones{
    position: relative;
    top: 2vh;
    left: 38%;
    width: fit-content;
}
.botones-menu{
    width: 8vw;
    height: 4vh;
    border: none;
    background-color: #EDF6F9;
}

.inicio{
    position: absolute;
    width: 100%;
    height: 92vh;
    background-color: #006d77;
}
.inicio-texto{
    position: relative;
    top: 0vh;
    left: 22vw;
    width: 56vw;
}
.inicio-texto-p{
    color: #EDF6F9;
    font-size: 9vh;
}
.inicio img{
    position: absolute;
    top: 58vh;
    left: 21vw;
    width: 60vw;
    z-index: 10;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.nosotros{
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 143vh;
    background-color: #EDF6F9;
}
.nosotros-contenedor-texto{
    position: relative;
    text-align: center;
    left: 38vw;
    top: 55vh;
    width: 24vw;
}
.nosotros-contenedor-texto h2{
    font-size: 49pt;
}
.nosotros-contenedor-texto p{
    font-size: 18pt;
}
.nosotros-contenedor-imagenes{
    position: relative;
    width: fit-content;
    top: 75vh;
    left: 24vw;
    z-index: 10;
    box-shadow: rgb(17 17 26 / 10%) 0px 4px 16px, rgb(17 17 26 / 5%) 0px 8px 32px;
}
.nosotros-contenedor-imagenes img{
    width: 318px;
}
#fotolugar{
    width: 349px;
}

.contacto{
    position: absolute;
    width: 100%;
    height: 155vh;
    top: 243vh;
    background: #83C5BE;
}
.contacto-contenedor-texto{
    position: relative;
    width: 43vw;
    top: 47vh;
    left: 28vw;;
    text-align: center;
}
.contacto-contenedor-inputs{
    position: relative;
    width: 43vw;
    top: 53vh;
    left: 28vw;;
    text-align: center;
}
.contacto-contenedor-texto h2{
    font-size: 49pt;
}
.contacto-contenedor-inputs input{
    display: list-item;
    width: 100%;
    height: 4vh;
    margin-bottom: 5px;
    border: none;
    font-family: 'Playfair Display', serif;
}
#input-mensaje{
    height: 28vh;
}
